body {
	text-align:center; 
	font-family:'FrankRuehl';
	  background-image: linear-gradient(to right, blue , white);
  background-size:cover;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.waviy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  color: #FF9966;

  text-decoration-style: double;
   text-shadow: 4px 4px 5px pink ;


}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


#first-text{
	font-size: 25px;
	text-align:center;
	color:black;
	position:relative;
	top:20px;
	
	
}


.nicetitle {
		
  font-size: 230px;
  font-weight: 600;
  background-image: url('images/pattern.jpg');
  background-size: 171px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  position:relative;
  top:150px;
  
  
}
.cat-title{
	background-image: url('images/catpattern.jpg');
	background-size: 300px;
	top:30px;
}

.cat-image{
	border-radius: 20%;
	  position:relative;
	  max-width: 500px;
	  height: auto;
}
#hobbies-title{
	background-image: url('images/hobbies-pattern.jpg');
	background-size: 400px;
	top:30px;
}


.imagestyle {
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
	width: 60%;
	height: auto;
  
}

.imagestyle img{
		width:50%;
		height: auto;
		border-tadius : 5px;
		 border-radius: 30%;
		 -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
		 position:relative;
		 top:-400x;
		 right:250px;

}
#first-image{
	position: relative;
	top: 0px;
	left:250px;
}

#gum-img{
	  border-radius: 50%;
	  position:relative;
	  top:140px;
	  left:300px;
	  max-width: 20%;
	  height: auto;
}
img.a {
  vertical-align:super;
}

#tooth-img{
	border-radius:20%;
	position:relative;
	top:180px;
	right:400px;
	max-width:30%;
	height:auto;
}

#prob-img{
	border-radius: 8px;
	position:relative;
	top:130px;
	right:300px;
	max-width:15%;
	height:auto;
	
}
#kid-img{
	border-radius: 100px;
	position:relative;
	top:130px;
	right:100px;
	max-width:15%;
	height:auto;
	
}

.text-position {
	text-align:center; 
	color:black;
	font-size: 30px;

}

.title-style {

	color: #333399;
	font-size: 80px;
	text-align:right;
	text-decoration-line: underline;
    text-decoration-style: double;
	text-shadow: 4px 4px 5px white ;
	position:relative;
	top:100px;
}
#pos-ti{
	position:relative;
	top:180px;
}
.sub-title{

	text-align:right;
	text-decoration-line: underline;
	text-decoration-line: bold;
}
.text-style{

	font-size: 20px;
	text-align:right;
	color:#330099;
	position:relative;
	top:130px;
}


#caries-img {

  position: absolute;
  top: 1000;
  left: 100;
  max-width: 10%;
  height: auto;
}

body, h1, p {
    direction: rtl;
}

.checklist-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  position:relative;
  top:-150px;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.checklist-item img {
  max-width: 30px; /* Set the maximum width for the images */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add space between image and text */
}
.checklist-item p {
  font-size: 20px; /* Set the font size for the text */
}
.hob-image{
	border-radius: 30px;
	width:200;
}

.image-container img {
  display: inline-block;
  margin-right: 20px; /* Add spacing between images if needed */
  
}

.flex-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: flex-start; /* Align items to the left */
}

.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


